:root {
  --branding-color: #779be7;
  --secondary-color: #fae5e2;
  --heading-font-family: "Playfair Display", serif;
  --content-font-family: "poppins", sans-serif;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-family: var(--content-font-family);
  font-weight: normal;
  font-size: 24px;
  color: #272142;
  line-height: 2;
}

h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

.navbar-custom {
  background-color: var(--secondary-color);
}

.navbar-nav {
  margin-left: auto;
  padding-right: 20px;
}

.navbar {
  padding-right: 8px;
}

li.active {
  font-weight: bold;
}

.hero {
  margin: 0;
  padding: 150px;
  background-color: var(--secondary-color);
  text-align: center;
}

.btn-branding {
  color: white;
  background-color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.project-header {
  font-family: var(--heading-font-family);
  font-size: 46px;
}

.project-description {
  font-size: 18px;
  line-height: 1.75;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}

.project-text {
  padding: 120px 60px;
}

img .me {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.content-container {
  padding: 150px;
  margin-top: 200px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--content-font-family);
}

.work-content h1 {
  font-size: 64px;
}

.content-container h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-family: var(--content-font-family);
  font-weight: bold;
}

.contact-options h3 {
  text-align: start;
}
.content-container p {
  font-size: 24px;
}

.content {
  margin: 30px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 130px;
  margin: 0 200px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  .project-text {
    padding: none;
    text-align: center;
  }

  h1 {
    font-size: 38px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .hero {
    padding: 100px;
  }

  .project-header {
    font-size: 38px;
  }

  .discription-wrap {
    margin: 0;
  }

  .content-container {
    padding: 20px;
    text-align: center;
  }
}
