:root {
  --branding-color: #779be7;
  --secondary-color: #fae5e2;
  --heading-font-family: "Playfair Display", serif;
  --content-font-family: "poppins", sans-serif;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-family: var(--content-font-family);
  font-weight: normal;
  font-size: 24px;
  color: #272142;
  line-height: 2;
}

.hero {
  margin: 0;
  padding: 150px;
  background-color: var(--secondary-color);
  text-align: center;
}

.btn-branding {
  color: white;
  background-color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.project-header {
  font-family: var(--heading-font-family);
  font-size: 46px;
}

.project-description {
  font-size: 18px;
  line-height: 1.75;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}

.project-text {
  padding: 120px 60px;
}

.about-hero img {
  width: 100%;
  height: auto;
  border-radius: 4%;
}

.about-hero {
  padding: 150px;
}

.about-hero-content {
  margin: 30px;
}

.about-hero h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-hero h2 {
  font-size: 18px;
  font-family: var(--content-font-family);
}

@media (max-width: 900px) {
  .project-text {
    padding: none;
    text-align: center;
  }

  h1 {
    font-size: 38px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .hero {
    padding: 100px;
  }

  .project-header {
    font-size: 38px;
  }

  .discription-wrap {
    margin: 0;
  }

  .about-hero {
    text-align: center;
    padding: 20px;
  }
}
